/* ===== Scrollbar ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #333333 #1d1d1d;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #1d1d1d;
}

*::-webkit-scrollbar-thumb {
  background-color: #333333;
  border: none;
}

/* ===== Quasar ===== */
.q-layout__shadow:after {
  box-shadow: none !important;
}

.q-page-container {
  padding-top: 37px !important;
}

header {
  color: var(--q-color) !important;
  background-color: var(--q-secondary) !important;
}

.header-row {
  height: 37px;
  padding: 0 !important;

  svg {
    margin: 0 10px;
  }
}

.header-item {
  display: flex;
  align-items: center;
  height: 37px;
  padding: 0 10px;
  margin: 0;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

.q-menu {
  border-radius: unset !important;
}

.greeting {
  height: 100%;
  align-items: center;
  justify-content: center;

  svg {
    margin-bottom: 20px;
  }
}

.tabs {
  background-color: var(--q-primary);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tab {
  cursor: pointer;
  height: 37px;
  width: 100px;

  input {
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    color: var(--q-color);
    padding: 10px 8px 6px 8px;

    &:disabled {
      cursor: pointer !important;
      width: calc(100% - 20px) !important;
      opacity: 1 !important;
    }

    &:focus {
      -webkit-box-shadow: inset 0px 0px 0px 1px var(--q-accent);
      -moz-box-shadow: inset 0px 0px 0px 1px var(--q-accent);
      box-shadow: inset 0px 0px 0px 1px var(--q-accent);
    }
  }

  &:hover .tab-close {
    display: inline-flex;
  }

  &:hover input:not(:disabled) + .tab-close {
    display: none !important;
  }
}

.tab-close {
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  top: -2px;
  font-size: 7px;
  width: 14px;
  height: 14px;

  &::after {
    content: "\2573";
  }

  &:hover {
    background-color: var(--q-tetriary);
  }
}

.tab-add {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 37px;
  width: 37px;
  font-size: 12px;

  &::after {
    content: "\2547";
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--q-secondary);
    border-radius: 50%;
    height: 24px;
    width: 24px;
  }

  &:hover::after {
    background-color: var(--q-tetriary);
  }
}

.tab-content {
  position: relative;
  height: calc(100vh - 75px);
}

.side-panel {
  background-color: var(--q-primary);
  box-shadow: var(--q-primary) 0 10px 0;
  border: 1px solid var(--q-secondary);

  .close {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--q-secondary);
    color: var(--q-color);
    border-radius: 0 0 0 3px;
    cursor: pointer;
    float: right;
    font-size: 14px;
    height: 24px;
    width: 36px;

    &:hover {
      background-color: var(--q-negative);
    }
  }

  .side-panel-row {
    margin-top: 36px;
    padding: 0 10px;

    input {
      height: 40px;
      width: calc(100% - 41px);
      background-color: var(--q-secondary);
      color: var(--q-color);
      padding: 0 10px;
      border-radius: 3px 0 0 3px;
      border: 0 none;
      opacity: 1 !important;
      cursor: text !important;
    }

    .q-btn {
      height: 40px;
      width: 40px;
      background-color: var(--q-secondary);
      border-left: var(--q-search-border);
      border-radius: 0 3px 3px 0;
      cursor: pointer;
    }

    .peers-count {
      display: flex;
      align-items: center;
      height: 20px;
      width: 100%;
      margin-top: 10px;
      padding: 0 5px;

      .led {
        height: 8px;
        width: 8px;
        background-color: var(--q-negative);
        box-shadow: 0 0 5px var(--q-negative);
        border-radius: 50%;
      }

      .counter {
        padding-left: 10px;
      }
    }
  }
}

/* ===== CodeMirror ===== */
.CodeMirror {
  min-height: calc(100vh - 75px);
  width: 100% !important;
  cursor: text;
}

.CodeMirror-vscrollbar {
  cursor: default !important;
}

.CodeMirror-wrap pre {
  word-break: break-word;
}

.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;

  margin: 0;
  padding: 0px;

  border: 1px solid #333333;
  color: var(--q-color);

  background: var(--q-primary);

  font-size: 90%;
  font-family: monospace;

  max-height: 20em;
  overflow-y: auto;
}

.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  white-space: pre;
  cursor: pointer;
  background: var(--q-primary);
}

.CodeMirror-matchingbracket {
  text-decoration: none !important;
  -webkit-box-shadow: inset 0px 0px 0px 1px #656565;
  -moz-box-shadow: inset 0px 0px 0px 1px #656565;
  box-shadow: inset 0px 0px 0px 1px #656565;
}

.CodeMirror-activeline-background {
  background: #f0f0f0 !important;
  background: rgba(101, 101, 101, 0.1) !important;
}

li.CodeMirror-hint-active {
  background: #08f !important;
  color: white;
}
