// Quasar SCSS (& Sass) Variables

$primary: #f3f2f1;
$secondary: #e3e0de;
$accent: #00a791;

$dark: #252525;
$dark-page: #333333;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

:root {
  .body--light {
    --q-tetriary: #d5d3cc;
    --q-color: #000;
    --q-search-border: 1px solid var(--q-tetriary);

    /** vue-select */
    --vs-controls-color: var(--q-color);
    --vs-border-color: var(--q-tetriary);

    --vs-dropdown-bg: var(--q-secondary);
    --vs-dropdown-color: var(--q-color);

    --vs-selected-color: var(--q-color);
  }

  .body--dark {
    --q-primary: #333333;
    --q-secondary: #444444;
    --q-tetriary: #656565;
    --q-color: #fff; //c1c1c1
    --q-search-border: 1px solid var(--q-primary);

    /** vue-select */
    --vs-controls-color: var(--q-color);
    --vs-border-color: var(--q-tetriary);

    --vs-dropdown-bg: var(--q-secondary);
    --vs-dropdown-color: var(--q-color);

    --vs-selected-color: var(--q-color);
  }
}
